<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772487410184-fddt71fbqd7u9d0jtgm6jv07mihf4glm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772487410184-fddt71fbqd7u9d0jtgm6jv07mihf4glm</string>
	<key>API_KEY</key>
	<string>AIzaSyB7woiMn318J7tMDA-oYBAd8JgiWmtK8c4</string>
	<key>GCM_SENDER_ID</key>
	<string>772487410184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nibm.COLOMBO-BSCCOMP-PT-202-004</string>
	<key>PROJECT_ID</key>
	<string>colombo-bsccomp-pt-202-0-79a62</string>
	<key>STORAGE_BUCKET</key>
	<string>colombo-bsccomp-pt-202-0-79a62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772487410184:ios:7ec4d3c3b5abef6e0497bd</string>
</dict>
</plist>